<h1>Ready to Rent?</h1>

<div class="btn-group" role="group" aria-label="Rent">
  <button type="button" class="btn btn-default">Rent This Book</button>

<p id="notice"><%= notice %></p>

</div>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Color:</strong>
  <%= @book.color %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
